{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'Form.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <!-- <div class="col-md-6"> -->
        <!-- </div> -->
        <div class="col-md-8 product_form">
            <p class="font-weight-bold text-center"> Add Product </p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-md btn-info"> Submit </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}